html, body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
}

.card.green {
   color: white;
   background-color: #388e3c;
}
.card.orange {
    color: white;
    background-color: #e9af11;
 }
 .card.red {
    color: white;
    background-color: #8e3838;
 }
.card .fa {
    color:white;
}

.card {
    color: #434A54;
    background-color: white;
    border: none;
    border: 1px solid #388e3c;
}

.card p {
    font-size: 1.5em;
}
.card-body.text-center p {
    font-size: 1.6em;
}
.card sup {
    top: -0.4em;
    font-size: 0.6em;
}
.card-title {
    font-size: 1.1rem;
}

.short-history .card-text {
    font-family: 'Courier New', sans-serif;
    font-size: 0.7rem;
}
.short-history .card-title {
    background-color: #343a40;
    color: white;
} 

.table-sm {
    font-size: 15px;
}
.table-sm td, .table-sm th {
    padding: .1rem;
}

.air_temp_container  {
    border: 1px solid #343a40;
    border-radius: 10px;
    padding: 10px;
    background-color: #f7fdff;
}

.history_container {
    border: 1px solid #343a40;
    border-radius: 10px;
    padding: 10px;
}

.wifi_container {
    background-color: #fffcf0;
}
.battery_container {
    background-color: #f0fcf3;
}
.co2_container {
    background-color: #ffede8;
}
.brightness_container {
    background-color: #fff0fd;
}
.humidity_container {
    background-color: #f2fcfc;
}


#control-container button {
    padding-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
}

#control-container button.active {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}