html, body {
    font-family: 'Lato', sans-serif;
    background-color: #f5f5f5;
}

.card.ok {
   color: white;
   background-color: #40c840;
}
.card .fa {
    color:white;
}

.card {
    color: #434A54;
    background-color: white;
    border: none;
    border: 1px solid #40c840;
}

.card p {
    font-size: 1.5em;
}
.card-body.text-center p {
    font-size: 1.6em;
}
.card sup {
    top: -0.4em;
    font-size: 0.6em;
}
.card-title {
    font-size: 1.1rem;
}

.short-history .card-text {
    font-family: 'Courier New', sans-serif;
    font-size: 0.7rem;
}
.short-history .card-title {
    background-color: #343a40;
    color: white;
} 

.table-sm {
    font-size: 15px;
}
.table-sm td, .table-sm th {
    padding: .1rem;
}
