<!DOCTYPE html>
<html class="h-100">

<head>
    <meta charset="UTF-8" />
    <title>Habel Gewächshaus : Steuerung</title>

    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/assets/img/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/img/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/assets/img/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href=/favicon.ico">

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' />
    <link rel='stylesheet prefetch'
        href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Gewächshaus
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-to1ggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/control">Control</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/history">History <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <input type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-lightbulb'></i> Licht An"
            data-off="<i class='fa fa-lightbulb'></i> Licht Aus" data-width="100" data-height="75">

        <input type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-tint'></i> Ventil1 offen"
            data-off="<i class='fa fa-tint'></i> Ventil1 zu" data-width="100" data-height="75">

        <input type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-tint'></i> Ventil2 offen"
            data-off="<i class='fa fa-tint'></i> Ventil2 zu" data-width="100" data-height="75">

        <input type="checkbox" checked data-toggle="toggle" data-on="<i class='fa fa-tint'></i> Ventil3 offen"
            data-off="<i class='fa fa-tint'></i> Ventil3 zu" data-width="100" data-height="75">
    </div>

    <footer class="footer mt-auto py-3 mt-3 bg-dark">
        <div class="container">
            <span class="text-muted">Habel Gewächshaus-Steuerung</span>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
</body>

</html>