<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="UTF-8" />
    <title>Habel Gewächshaus : History</title>

    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css' />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css' />
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' />
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="#">
            <img src="/assets/img/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Gewächshaus
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-to1ggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Control</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">History <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <h1>Test</h1>
    </div>

    <footer class="footer mt-auto py-3 mt-3 bg-dark">
        <div class="container">
            <span class="text-muted">Gewächshaus Steuerung</span>
        </div>
    </footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src="/assets/js/history.js"></script>
</body>
</html>
